Source: lib-gvm
Priority: optional
Maintainer: Greenbone Networks GmbH <info@greenbone.net>
Build-Depends:
# Generel build environment
  debhelper (>= 12),
  bison,
  flex,
  cmake,
  pkg-config,
# Specific development libraries
  libglib2.0-dev (>= 2.16),
  libgnutls28-dev,
  libgcrypt20-dev,
  zlib1g-dev,
  libpcap-dev,
  libgpgme-dev (>= 1.1.2),
  uuid-dev,
  libssh-gcrypt-dev (>= 0.5),
  libhiredis-dev (>= 0.13.3),
# ssl support
  libksba-dev (>= 1.0.7),
# ldap support
  libldap2-dev (>= 2.4.11),
# For building with radius support
  libradcli-dev (>= 1.2.6),
  libxml2-dev,
  libnet1-dev,
# For building with mqtt support
  libpaho-mqtt-dev
Standards-Version: 4.4.1
Section: libs

Package: libgvm-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
  libgvm-base{{major_version}} (= ${binary:Version}),
  libgvm-gmp{{major_version}} (= ${binary:Version}),
  libgvm-osp{{major_version}} (= ${binary:Version}),
  libgvm-util{{major_version}} (= ${binary:Version}),
  libgvm-boreas{{major_version}} (= ${binary:Version}),
  libgnutls28-dev,
  libpcap-dev,
  libglib2.0-dev (>= 2.16.0),
  uuid-dev,
  libldap2-dev (>= 2.4.11),
  libssh-gcrypt-dev (>= 0.6.3),
  libksba-dev (>= 1.0.7),
  libgpgme-dev (>= 1.1.2),
  zlib1g-dev,
  libhiredis-dev (>= 0.13.3),
  libradcli-dev (>= 1.2.6),
  libnet1-dev
#  libsnmp-dev
Description: Greenbone Vulnerability Management - static libraries and headers

Package: libgvm-base{{major_version}}
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libhiredis0.14
Conflicts: libgvm-base20
Replaces: libgvm-base20
Description: Greenbone Vulnerability Management - shared libraries

Package: libgvm-gmp{{major_version}}
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgvm-gmp20
Replaces: libgvm-gmp20
Description: Greenbone Vulnerability Management - shared libraries

Package: libgvm-osp{{major_version}}
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgvm-osp20
Replaces: libgvm-osp20
Description: Greenbone Vulnerability Management - shared libraries

Package: libgvm-util{{major_version}}
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgvm-util20
Replaces: libgvm-util20
Description: Greenbone Vulnerability Management - shared libraries

Package: libgvm-boreas{{major_version}}
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgvm-boreas20
Replaces: libgvm-boreas20
Description: Greenbone Vulnerability Management - shared libraries
