name: Container

on:
  push:
    branches: [ main ]

jobs:
  images:
    name: build images
    runs-on: ubuntu-latest
    steps:
      - name: Find reference branch
        run: test "$GITHUB_BASE_REF" && echo "BRANCH=${GITHUB_BASE_REF##*/}" >> $GITHUB_ENV || echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Set VERSION based on ${{ env.BRANCH }}
        run: test "$BRANCH" = "main" && echo "VERSION=latest" >> $GITHUB_ENV || echo "VERSION=$BRANCH" >> $GITHUB_ENV
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make build
      - name: ${{ github.repository }}-build-helper:${{ env.VERSION }}
        uses: docker/build-push-action@v2.5.0
        with:
          context: .docker/
          push: true
          tags: ${{ github.repository }}-build-helper:${{ env.VERSION }}
          file: .docker/build-helper.Dockerfile
      - name: ${{ github.repository }}-broker:${{ env.VERSION }}
        uses: docker/build-push-action@v2.5.0
        with:
          context: .
          push: true
          tags: ${{ github.repository }}-broker:${{ env.VERSION }}
          file: broker.Dockerfile
      - name: ${{ github.repository }}-director:${{ env.VERSION }}
        uses: docker/build-push-action@v2.5.0
        with:
          context: .
          push: true
          tags: ${{ github.repository }}-director:${{ env.VERSION }}
          file: director.Dockerfile
      - name: ${{ github.repository }}-sensor:${{ env.VERSION }}
        uses: docker/build-push-action@v2.5.0
        with:
          context: .
          push: true
          tags: ${{ github.repository }}-sensor:${{ env.VERSION }}
          file: sensor.Dockerfile
      - name: ${{ github.repository }}-example-client:${{ env.VERSION }}
        uses: docker/build-push-action@v2.5.0
        with:
          context: .
          push: true
          tags: ${{ github.repository }}-example-client:${{ env.VERSION }}
          file: example-client.Dockerfile
